---
driver:
  name: docker

provisioner:
  name: dummy

verifier:
  name: shell

platforms:
  - name: test
    driver:
      image: {{ git_repository }}:local-test
      platform: debian

suites:
  - name: default
